<div class="modal-header">
    <h3 class="modal-title">Bills I Created</h3>
</div>
<div class="modal-body">
    <div ng-show="!editBill">
        <label>Amount: {{bill.amount |currency}}</label>
        <br/>
        <label>Creator: {{bill.owner.username}}</label>
        <br/>
        <label>Debters: </label>
        <div ng-repeat="friend in bill.group">
            <label>    
                {{friend.user.firstName}} {{friend.user.lastName}} - {{friend.amount|currency}} [{{friend.paid?'PAID':'UNPAID'}}]
            </label> 
        </div>
        <br/>
    </div>
    <div ng-show="editBill">
        <div class="form-group">
            <label>Subject/Description</label>
            <input type="text" class="form-control" placeholder="What does the bill regard?" ng-model="subject", require>
        </div>
        <div class="form-group">
            <label>Amount</label>
            <input type="text" class="form-control" placeholder="How much money?" ng-model="amount", require>
        </div>
        <div class="form-group">
            <label>People to charge</label>
            <tags-input ng-model="debterList" add-on-enter="true" add-on-space="true" on-tag-added="verifyTag($tag)">
                <auto-complete source="loadFriends($query)" highlight-matched-text="true" min-length="1" load-on-empty="true"></auto-complete>
            </tags-input>
        </div>
        <div ng-repeat="debter in debterList" >
            <label >{{debter.text}}</label> 
            <input type="text" ng-model="debter.amount" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-show="!modifiable() && !editBill" ng-click="deleteBillButton()">Delete Bill</button>
    <button class="btn btn-warning" ng-show="!modifiable() && !editBill" ng-click="edit()">Edit Bill</button>
    <button class="btn btn-primary" ng-show="!editBill" ng-click="ok()">OK</button>
    <button class="btn btn-primary" ng-show="editBill" type="button" ng-click="updateBill(subject,amount)">Update Bill</button>
    <button class="btn btn-warning" ng-show="editBill" type="button" ng-click="cancel()">Cancel</button>
</div>
