<div class="modal-header">
    <h3 class="modal-title">Pay Bill</h3>
</div>
<div class="modal-body">
    <label>Amount: {{bill.amount|currency}}</label>
    <br/>
    <label>Creator: {{bill.owner.username}}</label>
    <br/>
    <label>Debters: </label> 
    <!--    <br/> -->
    <div ng-repeat="friend in bill.group">
        <label>    
            {{friend.user.firstName}} {{friend.user.lastName}} - {{friend.amount|currency}} [{{friend.paid?'PAID':'UNPAID'}}]
        </label> 
    </div>
<!--     <label>Unpaid: </label>
    <label ng-repeat="friend in bill.unpaid">"{{friend.username}}"&nbsp;</label>
    <br/>
    <label>Paid: </label>
    <label ng-repeat="friend in bill.paid">"{{friend.username}}"&nbsp;</label>
    <br/> -->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-show="!checkPaid()" ng-click="payBillButton()">Pay Bill</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
