<!DOCTYPE html>
<html ng-app="split">
  <head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script type="text/javascript" src="layout.js"></script>
    <title> Split </title>
    <header>
      <h1 class="text-center">Split</h1>
    </header>
  </head>

  <body class="list-group" >
    <div ng-controller="addFriend" class = "floatright">
      <script type="text/ng-template" id="addFriend.html">
      <div class="modal-header">
        <h3 class="modal-title">Add Friend</h3>
      </div>
        <div class="modal-body">
          <form name = "addFriendForm" novalidate ng-submit="addFriendForm.$valid">
            <fieldset class="form-group">
              <input ng-model = "user.name" class="form-control" type = "text" placeholder="Username" title=" Username" required />
            </fieldset>
            {{ user.name }}
          </form>
        </div>        
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
      </script>

      <button class="btn btn-default" ng-click="open()">Add Friend</button>
      <div>Username: {{ user.name }}</div>
    </div>  

    <div ng-controller="createBill" class = "floatright">
      <script type="text/ng-template" id="createBill.html">
      <div class="modal-header">
        <h3 class="modal-title">Create Bill</h3>
      </div>
      <div class="modal-body">
        <form name = "createBillForm" >
          <fieldset class="form-group">
            <input ng-model = "bill.title"class="form-control" type = "text" placeholder="Title" title= "title" />
          </fieldset>
          <fieldset class="form-group">
            <select ng-model = "bill.type"  class="form-control" title="type" >
              <option value="Even">Even</option>
              <option value="Custom">Custom</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <input ng-model = "bill.splitters" class="form-control" type = "text" placeholder="Splitters" title= "splitters" />
          </fieldset>
          <fieldset class="form-group">
              <!-- <input ng-model = "bill.amount" class="form-control" type="text"   placeholder="Amount" title= "amount" real-time-currency /> -->
              <input ng-model = "bill.amount" class="form-control" type="text"   placeholder="Amount" title= "amount"  />
          </fieldset>
          <fieldset class="form-group">
            <textarea ng-model = "bill.comments" class="form-control" type = "text" placeholder="Comments" title= "comments"></textarea>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Create Bill</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
      </script>

      <button class="btn btn-default" ng-click="open()">Create Bill</button>
       <div>
        Title:{{bill.title}}Type:{{bill.type}}Splitters:{{bill.splitters}}amount:{{bill.amount}}comments:{{bill.comments}}
      </div>
    </div>

    <section class="tab" ng-controller = "TabController as tab" >
      <ul class="nav nav-pills" >
        <li ng-class="{ active: tab.isSet(1) }" >
          <a href ng-click = "tab.setTab(1)">Bills to pay</a></li>
        <li ng-class="{ active: tab.isSet(2) }" >
          <a href ng-click = "tab.setTab(2)">Bills I created</a></li>
        <li ng-class="{ active: tab.isSet(3) }" >
          <a href ng-click = "tab.setTab(3)">Bills I paid</a></li>
      </ul>
        <div ng-show = "tab.isSet(1)" >
          <div ng-controller="payBill" >
            <script type="text/ng-template" id="payBill.html">
              <div class="modal-header">
                <h3 class="modal-title">Pay Bill</h3>
              </div>
              <div class="modal-body">
                <form name = "payBillForm" novalidate ng-submit="payBillForm.$valid">
                  <fieldset class="form-group">
                  <input ng-model = "pay.status" class="form-control" type = "text" placeholder="Status" title=" status" required />
                  </fieldset>
                  <fieldset class="form-group">
                  <input ng-model = "pay.method" class="form-control" type = "text" placeholder="Pay Method" title=" payMethod" required />
                  </fieldset>
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Pay Bill</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>
            </script>
          <blockquote><a href ng-click="open()">Bills to pay </a> </br> Bills to pay </br> Bills to pay</blockquote>
          </div>
        </div>
        <div ng-show = "tab.isSet(2)">
          <blockquote>Bills I created </blockquote>
        </div>
        <div ng-show = "tab.isSet(3)">
          <blockquote>Bills I paid</blockquote>
        </div>
    </section>
  </body>
</html>