<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Split Login</title>
      
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <script src="../libs/angular/angular.js"></script>
   <script src="../libs/angular-resource/angular-resource.js"></script>
   <script src="../libs/angular-route/angular-route.js"></script>
   <script src="../app.js"></script>
   <style>
      body { padding-top:50px; }
   </style>
</head>
<body class="container">
   <header>
      <nav class="navbar navbar-default" role="navigation">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="#">Split</a>
            </div>
            <ul class="nav navbar-nav">
               <li><a href="/">Home</a></li>
               <li><a href="/about">About</a></li>
            </ul>
          </div>
      </nav>
   </header>
   
   <main>
      <div class="row" ng-app="split" ng-controller="userCtrl">
         <div class="col-sm-6">
            <div class="jumbotron">
               <p>First Name: {{user.firstName}}</p>
               <p>List Name:  {{user.lastName}}</p>
               <p>Username:   {{user.username}}</p>
               <p>Password:   {{user.password}}</p>
               <p>Email:      {{user.email}}</p>
               <p>Id:         {{user._id}}</p>
               <p>Friends:    {{user.friend2s}}</p>
               <p>Friend Requests:  {{user.requests}}</p>
               <p>Requested Friend: {{user.requested}}</p>
               <form>
                  <input type="text" ng-model="aFriend" placeholder="Add Friend", require/>
                  <button class="btn-default btn" ng-click="addFriend(aFriend)">Add</button>
               </form>
               <form>
                  <input type="text" ng-model="dFriend" placeholder="Add Friend", require/>
                  <button class="btn-default btn" ng-click="deleteFriend(dFriend)">Delete</button>
               </form>
               <a class="btn-default btn" href="/logout">Sign Out</a> 
            </div>
         </div>
         <div class="col-sm-6">
            <div class="jumbotron">
               <div ng-repeat="friend in user.requests">
                  <label>{{friend}}   <button ng-click="acceptFriend(friend)">Accept</button></label>
               </div>
            </div>
         </div>
      </div>
   </main>

   <footer>
      <p class="text-center text-muted">Split CMPS115</p>
   </footer>
</body>
</html>
