<div>
    <div class="col-sm-6 jumbotron">
        <h3>Profile</h3>
		<label>First Name: {{user.firstName}}</label><br/>
		<label>List Name:  {{user.lastName}}</label><br/>
		<label>Username:   {{user.username}}</label><br/>
		<label>Password:   {{user.password}}</label><br/>
		<label>Email:      {{user.email}}</label><br/>
		<label>Id:         {{user._id}}</label><br/>
		<label>Friends:    {{user.friend2s}}</label><br/>
		<label>Friend Requests:  {{user.requests}}</label><br/>
		<label>Requested Friend: {{user.requested}}</label><br/>
        <form>
            <input type="text" ng-model="aFriend" placeholder="Add Friend", require/>
            <button class="btn-default btn" ng-click="addFriend(aFriend)">Add</button>
        </form>
        <form>
            <input type="text" ng-model="dFriend" placeholder="Delete Friend", require/>
            <button class="btn-default btn" ng-click="deleteFriend(dFriend)">Delete</button>
        </form>
        <br>
        <label>Owned Bills: {{user.ownedBills}}</label><br/>
        <label>Charged Bills: {{user.chargedBills}}</label><br/>
		<button class="btn-default btn" ng-click="logout()">Logout</button>
    </div>
    <div class="col-sm-6 jumbotron">
        <h3>Friend Request</h3>
        <div ng-repeat="friend in user.requests">
            <label>{{friend}}   <button ng-click="acceptFriend(friend)">Accept</button></label>
        </div> <br>
        <h3>Bills Owned</h3>
        <div ng-repeat="bill in ownedBills">
            <label>Subject: {{bill.subject}}</label><br/>
            <label>Ammount: {{bill.ammount}}</label><br/>
            <label>Debters: {{bill.debters}}</label><br/>
        </div><br>
        <h3>Bills Charged</h3>
        <div ng-repeat="bill in chargedBills">
            <label>Subject: {{bill.subject}}</label><br/>
            <label>Ammount: {{bill.ammount}}</label><br/>
            <label>Debters: {{bill.debters}}</label><br/>
        </div>

    </div>
</div>
