<div>
    <div class="col-sm-6 jumbotron">
        <h3>Profile</h3>
        <p>First Name: {{user.firstName}}</p>
        <p>List Name:  {{user.lastName}}</p>
        <p>Username:   {{user.username}}</p>
        <p>Password:   {{user.password}}</p>
        <p>Email:      {{user.email}}</p>
        <p>Id:         {{user._id}}</p>
        <p>Friends:    {{user.friend2s}}</p>
        <p>Friend Requests:  {{user.requests}}</p>
        <p>Requested Friend: {{user.requested}}</p>
        <form>
            <input type="text" ng-model="aFriend" placeholder="Add Friend", require/>
            <button class="btn-default btn" ng-click="addFriend(aFriend)">Add</button>
        </form>
        <form>
            <input type="text" ng-model="dFriend" placeholder="Add Friend", require/>
            <button class="btn-default btn" ng-click="deleteFriend(dFriend)">Delete</button>
        </form>
        <a class="btn-default btn" href="/logout">Sign Out</a> 
    </div>
    <div class="col-sm-6 jumbotron">
        <h3>Friend Request</h3>
        <div ng-repeat="friend in user.requests">
            <label>{{friend}}   <button ng-click="acceptFriend(friend)">Accept</button></label>
        </div>
    </div>
</div>
