.floatright{
	float: right;
}

.menuTab {
    color:white;
}
.jumbotron {
    background-color: transparent;
}
.container {
    position: static;
}


.bill-to-pay:hover {
    color:#FF6262;
}

.bill-created:hover {
    color:#FFFF66;
}

.inProgress:hover {
    color:#FF6262;
}

.complete:hover {
    color:#94EE94;
}

.bill-paid:hover {
    color:#94EE94;
}

.billList {
        overflow-x:hidden;
    overflow-y:scroll;
}
#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 70%;
    background-color: transparent;
    overflow-x:hidden;
    overflow-y:auto;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 200px;
        padding: 0 30px;
        border-left: 1px solid #000;    
    }
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;

}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";

}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

.checkbox {
    display : inline;
}
@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 200px;
        background-color: transparent;
        color:white;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;;
    }
}

/* disable arrows/spin buttons in number field */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

